doctype html
html
	head
		title <%= options.projectName %> - #{title}

		each size,index in [57, 72, 114, 144]
			link(rel="apple-touch-icon-precomposed", href="/images/favicon/favicon-#{size}x#{size}.png", sizes=index ? "#{size}x#{size}" : null)

		each rel in ["icon", "shortcut icon"]
			link(href="/favicon.ico", type="image/x-icon", rel="#{rel}")

		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		if meta
			if meta.description
				meta(name="description", content="#{meta.description}")
			if meta.keywords
				meta(name="keywords", content="#{meta.keywords}")

		link(href="/css/app.css", rel="stylesheet")

		script(src="/js/app.min.js")

		block css
		block head

	body
		article
			header

			section
				block content

			footer

		block js